
<form action="/checkout" method="post" id="item">
    <label for='item'>Item to be Purchased</label>
    <p><input type="text" name="item"></p>
    <button type="submit" value="submit">Submit</button>
</form>
